### Proyecto de Machine Learning

üëÄVerifica que las librerias esten instaladas 

En este caso se realizar√° un modelo para predecir la media de precios en las viviendas de los diferentes municipos de Londres, Reino Unido.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

## <span style="color:green">1. Descargar los datos</span>

Las bases de datos para este proyecto se puede encontrar en este enlace: https://www.kaggle.com/justinas/housing-in-london

Tambi√©n se pueden consultar todas las bases de datos de este curso en GitHub: https://github.com/ANFESADI15/A2/blob/main/C2/archive/housing_in_london_yearly_variables.csv

- housing_in_london_yearly_variables.csv, con los datos que necesitamos para hacer la regresi√≥n.
- London_Borough_Excluding_MHW.shp, con los datos que necesitamos para graficar Londres.
- Capitulo_2/housing_in_london_monthly_variables.csv, con los datos de la media salarial

In [2]:
## Definimos una funci√≥n para extraer datos.
#DOWNLOAD_ROOT es la base del GitHub donde vamos a estar descargando las bases de datos.
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ANFESADI15/A2/main/C2/"
#Complementos con la direcci√≥n especifica de la base de datos que queremos.
LONDON_SALARY = "MachineLearning_Data-main/MachineLearning_Data-main/Capitulo_2/housing_in_london_yearly_variables.csv"
LONDON_HOUSING = "MachineLearning_Data-main/MachineLearning_Data-main/Capitulo_2/housing_in_london_monthly_variables.csv"
LONDON_MAP = os.path.abspath("") + "\map\London_Borough_Excluding_MHW.shp"


def extraer_datos(root,database):
    csv_path = root + database
    return pd.read_csv(csv_path)

## <span style="color:green">2. Visualizacion de datos</span>

In [3]:
## Juntamos nuestra base de datos de la media salarial, con la de datos de Londres.

df1 = extraer_datos(DOWNLOAD_ROOT, LONDON_SALARY)
df2 = extraer_datos(DOWNLOAD_ROOT, LONDON_HOUSING)
df1.head()

,code,area,date,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,number_of_jobs,area_size,no_of_houses,borough_flag
0,E09000001,city of london,1999-12-01,33020.0,NaN,48922,0,6581.0,NaN,NaN,NaN,1
1,E09000002,barking and dagenham,1999-12-01,21480.0,NaN,23620,3,162444.0,NaN,NaN,NaN,1
2,E09000003,barnet,1999-12-01,19568.0,NaN,23128,8,313469.0,NaN,NaN,NaN,1
3,E09000004,bexley,1999-12-01,18621.0,NaN,21386,18,217458.0,NaN,NaN,NaN,1
4,E09000005,brent,1999-12-01,18532.0,NaN,20911,6,260317.0,NaN,NaN,NaN,1

In [4]:
print(pd)

<module 'pandas' from 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py'>